.container-header {
    background-image: url("../images/background-header-1b.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10.1%;
    height: 100vh;
    width: 100%;
}

.content-header {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    padding-top: 4rem;
}
/* body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.322);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.493);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 1em;
    grid-column: 1 / -1;
}

.logo-nav {
    float: left;
    padding-left: 50px;
    height: 40px;
}

.menu-nav {
    list-style: none;
    float: left;
    padding-right: 50px;
}

.menu-nav li {
    display: inline-block;
    padding-left: 30px;
    font-size: 15px;
    font-family: poppins, sans-serif;
}

.menu-nav a {
    text-decoration: none;
    color: white;
}

h2 {
    color: black;
}

.container-header {
    background-image: url("../images/background-header-1b.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10.1%;
    height: 100%;
    width: 100%;
}

.content-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
}

article {
    text-align: center;
    display: grid;
    gap: 0.6em;
    padding: 2em;
    max-width: 40rem;
    margin: 0 auto;
}

article h1 {
    margin: 1em 0 0;
    font-size: 2.8rem;
    line-height: 1em;
    color: #fff;
    font-family: poppins, sans-serif;
}

article p {
    line-height: 1.4;
    color: #fff;
    font-family: poppins, sans-serif;
}

article button {
    width: max-content;
    margin: auto;
    border: 0;
    border-radius: 4rem;
    padding: 0.8em 2.7em;
    height: max-content;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: #9DB9EF;
}

.logo-header {
    margin: 1em 2rem 1em;
    width: 400px;
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.651));
} */
