.container-player {
    background: #fff;
    max-width: 100%;
    margin: 90px 15px 0px 15px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    transition: all 0.5s ease;
    gap: 15px;
}

@media screen and (max-width: 1000px) {
    .container-player {
        display: block;
        max-height: 100%;
    }
}